<%- include ('../../partials/header.ejs') %> <%- include
('../../partials/navbar.ejs') %>
<div class="container">
    <hr />

    <div class="card">
        <h2 class="card-header">Cadastro de Categoria</h2>
        <form action="/categories/save" method="post" class="card-body">
            <input
                class="form-control"
                type="text"
                name="title"
                placeholder="Titulo da categoria"
            />
            <button class="btn btn-primary mt-2">Cadastrar</button>
        </form>
    </div>
</div>
<%- include ('../../partials/footer.ejs') %>
